D-Link DIR-855 (http://192.168.106.1/Basic/Network.shtml)

# These are the settings I used for the router.
# The only important parts are that the sensors, smart gateway and datacenter log into the same network and get consistent IP addresses.

Setup
  Wireless Settings
    Manual Wireless Network Setup
      Wireless Network Setttings
        Wireless Band: 2.4GHz Band
        Enable Wireless: Checked Always
        Wireless Network Name: IoT-DemoJam_Wifi
        802.11 Mode: Mixed 802.11n and 802.11g
        Enable Auto Channel Scan: Unchecked
        Wireless Channel: 2.462 GHz - CH 11
        Transmission Rate: Best (automatic)
        Channel Width: 20 MHz
        Visibility Status: Visible

      Wireless Security Mode
        Security Mode: WPA-Personal

      WPA
        WPA Mode: WPA2 Only
        Cipher Type: AES
        Group Key Unpdate Interval: 3600 (seconds)

      Pre-Shared Key
        Pre-Shared Key: DLT-iot-123!


  Network Settings
    Router Settings
      Router IP Address: 192.168.106.1
      Subnet Mask: 255.255.255.0
      Device Name: IoT-DemoJam_Router
      Local Domain Name: 
      Enable DNS Relay: Checked

    DHCP Server Settings
      Enable DHCP Server: Checked
      DHCP IP Address Range: 192.168.106.101 to: 192.168.106.201
      DHCP Lease Time: 1440 (minutes)
      Always broadcast: Checked

    DHCP Reservations List
        Computer Name             IP Address
        IoT-DemoJam_Sensor-Yellow 192.168.106.197
        IoT-DemoJam_Sensor-Green  192.168.106.198
        IoT-DemoJam_Sensor_Blue   192.168.106.199
        IoT-DemoJam_SmartGateway  192.168.106.200
        IoT-DemoJam_Laptop        192.168.106.201

